body{
    --main-color: rgb(24 24 24);
    --secondary-color: #222426;
    --text-primary-color: white;
}

.profile-top{
    display: flex;
    height: 20%;
    margin-bottom: 30px;
    gap: 100px;
}

.profile-top_photo{
    height: 100%;
    width: 20%;
    border-radius: 50%;
}

.profile-top_photo img{
    border-radius: 50%;
    width: 80%;
    height: 100%;
}

.profile-top_info{
    height: 100%;
    width: 40%;
}

.profile-top_info ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.list-item{}

.user_info-card {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: var(--text-primary-color);
    opacity: 0.7;
    color: var(--main-color);
    border-radius: 10px;
    padding: 10px;
}

.user_info-card p {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.user_info-card span {
    margin-left: 30px;
    flex: 1;
}

.user_info-card p:first-of-type span {
    margin-left: 43px;
}

.user_info-card p:nth-of-type(2) span {
    margin-left: 35px;
}

.user_info-card p:nth-of-type(3) span {
    margin-left: 33px;
}

.profile-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.name{
    font-weight: bold;
}

.name span{
    opacity: 0.5;
    font-weight: normal;
}

.about{}

.profile-button{
    padding: 5px 50px;
}

.create-post {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 1px solid #333;
}

.post-image-input{
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 8px;
    resize: none;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 15px;
    background-color: var(--main-color);
    color: var(--text-primary-color);

}

.post-input {
    width: 100%;
    height: 80px;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 8px;
    resize: none;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 15px;
    background-color: var(--main-color);
    color: var(--text-primary-color);
}

.post-input:focus {
    outline: none;
    border-color: #0095f6;
    background-color: var(--main-color);
}

.post-input::placeholder {
    color: #888;
}

.buttons{
    display: flex;
    gap: 50px;
}

.add-post-btn {
    background: #0095f6;
    color: var(--text-primary-color);
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
